@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --yellow: #FFBD13;
    --blue: #4383FF;
    --blue-d-l: #3278FF;
    --light: #F5F5F5;
    --grey: #AAA;
    --white: #FFF;
    --bg-color: #ffffff;
    --main-color: #c8815f;
    --text-color: #111111;
    --big-font: 4.5rem;
    --h2-font: 3.3rem;
    --h3-font: 2rem;
    --normal-font: 1rem;
}

body{
    color: var(--text-color);
    background: #000;
}

/* CABECERA */

header{
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 14%;
    transition: all 0.5s ease;
}

.cabecera{
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.cabecera .menu-btn{
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.cabecera .logo{
    display:flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.cabecera .logo img{
    width: 50px;
    border-radius: 50%;
}

.cabecera .links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.cabecera .links .close-btn{
    display: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px
    font-size: 1.5rem;
}

.cabecera .links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.cabecera .links a:hover{
    color: #19e8ff;
}

.cabecera .login-btn{
    border: none;
    outline: none;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
}

/* FORMULARIOS DE INICIO DE SESIÓN Y REGISTRO CON EFECTOS */

.blur-bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay{
    opacity: 1;
    pointer-events: auto;
}

.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -100%);
}

.show-popup .form-popup{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.form-popup .form-box{
    display: flex;
}

.form-box .form-details{
    max-width: 330px;
    width: 100%;
    color: #fff;
    display: flex;
    padding: 0 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .form-details{
    background: url("images/login-img.jpg");
    background-size: cover;
    background-position: center;
}

.signup .form-details{
    background: url("images/signup-img.jpg");
    background-size: cover;
    background-position: center;
}

.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content{
    width: 100%;
    padding: 35px;
}

form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}

.input-field input:focus{
border-color: #00bcd4;
}

.input-field input:is(:focus, :valid){
    padding: 16px 15px 0;
}

form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2 ease;
}

.input-field input:is(:focus, :valid) ~ label{
    color: #00bcd4;
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.form-box a{
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover{
    text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text) {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95;
}

form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: #00bcd4;
    transition: 0.2s ease;
}

form button:hover{
    background: #0097a7;
}

.form-box .bottom-link{
    text-align: center;
}

.form-popup .signup, .form-popup.show-signup .login{
    display: none;
}

.form-popup.show-signup .signup{
    display: flex;
}

.signup .policy-text{
    display: flex;
    align-items: center;
}

.signup .policy-text input{
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

header.sticky{
    background: var(--bg-color);
    padding: 14px 14%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* Responsive */

@media (max-width: 1023px){

    .cabecera :is(.menu-btn, .links .close-btn){
        display: block;
    }

    .cabecera{
        padding: 15px 0;
    }

    .cabecera .logo img{
        display: none;
    }

    .cabecera .links{
        position: absolute;
        left: -120%;
        top: 0;
        width: 100%;
        height: 100vh;
        display: block;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .cabecera .links.show-menu{
        left: 0;
    }

    .cabecera .links a{
        color: #000;
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
    }

    .cabecera .login-btn{
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media (max-width: 760px){
    .form-popup{
        width: 95%;
    }

    .form-box .form-details{
        display: none;
    }

    .form-box .form-content{
        padding: 30px 20px;
    }
}

/* MIS RESERVAS */

.cards{
    font-family: 'Poppins', sans serif;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background: #eee;
}

.cards > h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}

.cards > p{
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}

.cards > input{
    text-align: center;
    padding: 10px 50px;
    font-size: 15px;
    margin-left: 610px;
    position: sticky;
}

.cards .cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    background: #fff;
  }

  .card-content {
    padding: 20px;
  }

  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .card-description {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
  }

  .pay-button {
      display: block;
      padding: 10px 129px;
      background-color: #0056b3;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      cursor: pointer;
      border: 1px solid #292929;
      margin-bottom: 30px;
  }

  .pay-button:hover {
      background-color: #000;
  }

  .card-button {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: #0056b3;
    margin-bottom: 30px;
  }

  .card-button:hover {
    background-color: #000;
  }

  .delete-button {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: #0056b3;
    margin-bottom: 30px;
  }

  .delete-button:hover {
    background-color: #000;
  }

  .delete-button2 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: #0056b3;
    margin-bottom: 30px;
  }

  .delete-button2:hover {
    background-color: #000;
  }

  .delete-button3 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: #0056b3;
    margin-bottom: 30px;
  }

  .delete-button3:hover {
    background-color: #000;
  }

  .delete-button4 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: #0056b3;
    margin-bottom: 30px;
  }

  .delete-button4:hover {
    background-color: #000;
  }

  .delete-button5 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: #0056b3;
    margin-bottom: 30px;
  }

  .delete-button5:hover {
    background-color: #000;
  }

  .edit-form-container .edit-form h4{
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .edit-form-container .edit-form input{
    text-align: center;
    padding: 10px 50px;
    margin-left: 10px;
    font-size: 15px;
  }

  @media(max-width: 1170px){
    .cards .cards-container{
        grid-template-columns: repeat(2,1fr);
    }

    .cards > input{
        text-align: center;
        padding: 10px 50px;
        font-size: 15px;
        margin-left: 250px;
        position: sticky;
    }
  }

  @media(max-width: 768px){
    .cards .cards-container{
        grid-template-columns: 1fr;
    }

    .cards > input{
        text-align: center;
        padding: 10px 50px;
        font-size: 15px;
        margin-left: 100px;
        position: sticky;
    }
  }

  @media(max-width: 425px){
      .cards .cards-container{
          grid-template-columns: 1fr;
      }

      .cards > input{
          text-align: center;
          padding: 10px 40px;
          font-size: 15px;
          margin-left: 40px;
          position: sticky;
      }
  }

/* CLASES PARTICULARES */

.main-container{
    font-family: 'Poppins', sans serif;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background: #fff;
}

.main-container img{
    width: 100%;
}

.main-container > h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}

.main-container > p{
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}

.category-head{
    margin: 30px 0;
}

.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content: center;
    background: #a8a8a8;
    padding: 12px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.category-title:hover{
    opacity: 0.7;
}

.category-title li{
    padding: 0 10px;
}

/* single post */

.posts-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.posts-main-container > div{
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}

.post-img{
    position: relative;
}

.category-name{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 2px;
}

.futbol .category-name{
    background: #2c2a4a;
}

.baloncesto .category-name{
    background: #f0544f;
}

.natacion .category-name{
    background: #00a7ea;
}

.padel .category-name{
    background: #a1e44d;
}

.atletismo .category-name{
    background: #f03250;
}

.post-content{
    padding: 25px;
}

.post-content-top{
    background: #80ced7;
    color: #fff;
    opacity: 0.8;
    padding: 5px 0 5px 15px;
}

.post-content-top span{
    padding-right: 20px;
}

.post-content h2{
    font-size: 22px;
    padding: 12px 0;
    font-weight: 400;
}

.post-content p{
    opacity: 0.7;
    font-size: 15px;
    line-height: 1.8;
}

.read-btn{
    color: #000;
    border: none;
    padding: 8px 15px;
    display: table;
    margin: 15px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: transparent;
    margin-bottom: 40px;
}

.read-btn:hover{
    background: #f6f6f6;
}

.active{
    background: #f0544f;
}

@media(max-width: 1170px){
    .posts-main-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 768px){
    .posts-main-container{
        grid-template-columns: 1fr;
    }
}

/* BOTÓN SCROLL HACIA ARRIBA */

.top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.top i{
    font-size: 22px;
    color: var(--bg-color);
    padding: 14px;
    background: var(--main-color);
    border-radius: 2rem;
}

/* PIE DE PÁGINA */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #15181b;
    padding: 10px 0;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 25px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e96c1e;
    height: 5px;
    width: 130px;
    border-radius: 1em;
}

.footer-col a{
    color: white;
    transition: 0.3s ease;
    opacity: 0.8;
}

.footer-col a:hover:not(.socials a){
    padding-left: 10px;
    opacity: 1;
}

.footer-col .socials{
    display: inline-block;
    font-size: 24px;
}

.footer-col .socials a{
    margin-left: 3px;
}

.footer-col .socials i:hover{
    transition: 0.3s ease;
    transform: scale(1.2)translateY(-5px);
}

.footer-col ul li:not(:last-child){
    margin-bottom: 5px;
}

/* Responsive */

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 48%;
    }
}